<<<<<<< HEAD
body {
    height: 100%;
}
.card-body {
    border-top: 3px solid #007bff;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-header {
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
}

.card {
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 1rem; 
    min-width: 300px;
    height: auto; 
    margin: 5%; 
    align-items: stretch;
    overflow: hidden; 
    position: unset;
}

.card-footer {
    background-color: white;
}
=======
.add-item-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-item-container h2 {
    margin-bottom: 20px;
    color: rgb(21, 34, 18);
  }
  
  .add-item-container .form-group {
    margin-bottom: 15px;
  }
  
>>>>>>> d185e1f359686fcf6ed7de8f6ad58a9cb07c1788
