.add-item-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-item-container h2 {
    margin-bottom: 20px;
    color: rgb(21, 34, 18);
  }
  
  .add-item-container .form-group {
    margin-bottom: 15px;
  }
  